.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: bisque;
  margin-top: 20px;
}

.result {
  height: 50px;
  width: 60%;
  min-width: 370px;
  padding-right: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: lightgray;
  box-sizing: border-box;
  font-size: 1.2rem;
}

.numbers-container {
  min-width: 370px;
  width: 60%;
}

button {
  height: 40px;
  width: 25%;
  min-width: 50px;
  border-color: lightgrey;
  border-bottom: none;
  border-right: none;
  font-size: 1.3rem;
}

.operator-btn {
  background-color: #e49b0f;
}

.zero {
  min-width: 50px;
  width: 50%;
}
