.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px;
}

button {
  height: 100px;
  min-width: 50px;
  border-color: lightgrey;
  border-bottom: none;
  border-right: none;
  font-size: 2rem;
}

.result {
  width: 80%;
  min-width: 370px;
  height: 100px;
  padding-right: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: lightgray;
  box-sizing: border-box;
  font-size: 2rem;
}

.numbers {
  width: 80%;
}

.numbers-btn {
  width: 33.3%;
}

.operators {
  display: flex;
  flex-direction: column;
  width: 20%;
}

.operator-btn {
  background-color: #e49b0f;
  width: 100%;
}

.numbers-container {
  min-width: 370px;
  width: 80%;
  display: flex;
}

.numbers-section-container {
  width: 100%;
}

.numbers-box {
  width: 33.3%;
}

.numbers-box-container {
  width: 100%;
}

.zero {
  height: 100px;
  min-width: 50px;
  width: 66.6%;
}
