.quote {
  height: 15vh;
}

.text {
  height: 15vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: bisque;
  font-size: 1.3rem;
  font-weight: 500;
  padding: 0 20px;
}

@media screen and (max-width: 500px) {
  .text {
    padding-top: 100px;
  }
}
